<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis的全局配置文件 -->
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.ws.demo.entity.Ticket" alias="Ticket"/>
    </typeAliases>
    <!-- 导入mapper文件 -->
    <mappers>
        <mapper resource="mapper/TicketMapper.xml"/>
    </mappers>
</configuration>
